# {{ ansible_managed }}
[general]
host = {{ tcli_config_proto }}://{{ tcli_config_host }}
username = {{ tcli_config_user }}
password = {{ tcli_config_passwd }}
verify_ssl = {{ tcli_config_verifyssl }}
